@import "~bootstrap/dist/css/bootstrap.min.css";

#app {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pintaTop {
  font-size: 100px;
}
#pintaBot {
  font-size: 100px;
  width: auto;
  margin-left: auto;
}

#numeroCarta {
  font-size: 100px;
  margin: auto;
}
.red {
  color: red;
}
